@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyUI/daisyui.mjs" { /* make sure to match the path of daisyui mjs files */
  themes: light --default, dark --prefersdark;
  root: ":root";
  exclude: rootscrollgutter, rootcolor;
  logs: true;
}

/* Partners section styles */
@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll linear infinite;
}