@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyUI/daisyui.mjs" { /* make sure to match the path of daisyui mjs files */
  themes: light --default, dark --prefersdark;
  root: ":root";
  exclude: rootscrollgutter, rootcolor;
  logs: true;
}

/* Members section styles */
.pinned-container {
  @apply relative overflow-hidden max-w-5xl h-[70vh] m-auto;
}

.members-scroll-wrapper {
  @apply absolute top-0 left-0 right-0 h-full -z-10;
}

.member-slide {
  @apply h-[70vh];
}

/* Partners section styles */
@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll linear infinite;
}