package components

import "fmt"

templ Divider(anchorText string, title string, description string) {
  <!-- Divider Component -->

  <div id={ fmt.Sprintf("divider-%s", anchorText) } class="py-8 text-center">
    <h2 class="text-4xl font-bold">{ title }</h2>
    <p class="">{ description }</p>
  </div>
}